{% extends "layout.html.twig" %}

{% block content %}
    <div class="text-center">
        <h1 class="mb-4">Bienvenido a <strong>{{ title }}</strong></h1>
        <p class="lead">¡Practica tus habilidades matemáticas!</p>

        <h3 class="mt-5">¿Qué quieres practicar hoy?</h3>
        <div class="d-grid gap-3 col-6 mx-auto mt-4">
            <a href="/games/sum" class="btn btn-outline-primary btn-lg">➕ Sumas</a>
            <a href="/games/substract" class="btn btn-outline-secondary btn-lg">➖ Restas</a>
            <a href="/games/multiply" class="btn btn-outline-success btn-lg">✖️ Multiplicaciones</a>
            <a href="/games/divide" class="btn btn-outline-danger btn-lg">➗ Divisiones</a>
        </div>
    </div>
{% endblock %}